---
layout: base-layout.liquid
pageTitle: Your results
description: Your results
project: Day-4
---

<body data-barba="wrapper">
    <main id="results" class="results" data-barba="container" data-barba-namespace="results">
        <h1 class="score"><span>0</span>/100</h1>
        <h2 class="ranking"><span>You are a…</span>Soldier Bee</h2>
        <!-- <div class="fav-song">
            <p>You are this Beyoncé</p>
            <img src="" alt="">
        </div> -->
    </main>
    <script src="/Day-4/barba.js"></script>
    <script src="/Day-4/gsap.js"></script>
    <script src="/Day-4/transitions.js"></script>
</body>