---
layout: base-layout.liquid
pageTitle: Beyond-C
description: Testing your love of Beyoncé through your Spotify account
project: Day-4
tags: projects
---

<body data-barba="wrapper">
    <main id="homepage" data-barba="container" data-barba-namespace="home">
        <h1>Beyond-C</h1>
        <a href="login/" class="inner-link">Enter</a>
        <img class="round" src="assets/bday.jpg" alt="Beyoncé B-day album cover">
        <img class="round" src="assets/dangerously-in-love.png" alt="Beyoncé Dangerously in Love album cover">
        <img class="round" src="assets/sasha-fierce.png" alt="Beyoncé Sasha Fierce album cover">
        <img class="round" src="assets/4.png" alt="Beyoncé 4 album cover">
        <img class="round" src="assets/self-titled.png" alt="Beyoncé self-titled album cover">
        <img class="round" src="assets/lemonade.png" alt="Beyoncé Lemonade album cover">
        <img class="round" src="assets/everything-is-love.jpg" alt="Beyoncé Everything is Love album cover">
        <img class="round" src="assets/homecoming.png" alt="Beyoncé Homecoming album cover">
        <img class="round" src="assets/lionking.jpg" alt="Lion King live movie album artwork">
    </main>
    <script src="/Day-4/barba.js"></script>
    <script src="/Day-4/gsap.js"></script>
    <script src="/Day-4/transitions.js"></script>
</body>