---
layout: base-layout.liquid
pageTitle: Beyond-C | Login
project: Day-4
---

<body data-barba="wrapper">
    <main id="login" class="login" data-barba="container" data-barba-namespace="login">
        <h1>Beyond-C</h1>
        <p>Beyond-C is a test made to determine how much of a Beyoncé fan you really are.</p>
        <p>By using your Spotify account, we give you a ranking based on your listening history.</p>
        <a href="https://accounts.spotify.com/authorize?client_id=0c9e398e8f2f4e79b65220a6e57ef524&redirect_uri=http://localhost:4000/Day-4/callback/&scope=user-read-private&response_type=token"
            class="inner-link js-authorize">Get Started</a>
    </main>
    <script src="/Day-4/barba.js"></script>
    <script src="/Day-4/gsap.js"></script>
    <script src="/Day-4/transitions.js"></script>
</body>