---
layout: base-layout.liquid
pageTitle: Beyond-C | Login
project: Day-4
---

<main id="login" class="login">
    <h1>Beyond-C</h1>
    <p>Beyond-C is a test made to determine how much of a Beyoncé fan you really are.</p>
    <p>By using your Spotify account, we give you a ranking based on your listening history.</p>
    <a href="../results/" class="inner-link">Get Started</a>
</main>