---
layout: base-layout.liquid
pageTitle: Your results
description: Your results
project: Day-4
---

<main id="results" class="results">
    <h1 class="score">98/100</h1>
    <h2 class="ranking"><span>You are a…</span>Soldier Bee</h2>
    <div class="fav-album">
        <p>Your favorite Bey album</p>
        <img src="" alt="">
    </div>
</main>