---
layout: base-layout.liquid
pageTitle: The Breaking Bad Periodic Table
description: Characters of Breaking Bad represented as atoms
project: Day-1
tags: projects
---
<header>
    <h1>The Breaking Bad Periodic Table</h1>
</header>
<div class="divider"></div>
<main>
    <div class="character">
        <div class="character__image"></div>

        <div class="character__description">
            <div class="text-block js-name">
                <h5>Name</h5>
                <p>Walter White</p>
            </div>
            <div class="text-block js-nickname">
                <h5>Nickname</h5>
                <p>Heisenberg</p>
            </div>
            <div class="text-block js-occupation">
                <h5>Occupation</h5>
                <p>High School Chemistry Teacher</p>
            </div>
            <div class="text-block js-portrayed">
                <h5>Portrayed By</h5>
                <p>Bryan Cranston</p>
            </div>
        </div>
    </div>

    <div class="info"></div>

    <!-- Empty Divs Start -->
    <div class="empty1"></div>
    <div class="empty2"></div>
    <div class="empty3"></div>
    <div class="empty4"></div>
    <!-- Empty Divs End -->

    {% for character in breakingbad %}
    {% include 'Day-1/cardComponent' with id: character.id, abbr: character.abbr, firstName: character.firstName, lastName: character.lastName%}
    {% endfor %}

</main>
<div class="divider"></div>

<footer>
    <svg width="192" height="96" viewBox="0 0 192 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
            <path
                d="M49.7615 51.2072H45.6406C29.9925 51.2072 26.0818 54.4266 26.0818 59.3852C26.0818 62.9886 30.3748 64.862 35.4982 64.862C43.8898 64.862 49.7615 60.0707 49.7615 54.0791V51.2072Z"
                fill="#2D9C21" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M201.448 0H-9V96H201.448V0ZM16.1744 37.9261C16.1744 32.0327 21.7011 21.378 38.5836 21.378C55.267 21.378 61.0356 30.3084 61.0356 44.7588V73.4563H50.1032L49.9324 69.5702C47.4407 71.6041 39.8448 74.8015 33.1281 74.8015C22.4609 74.8015 14.2526 67.3794 14.2526 59.0435C14.2526 47.37 24.9563 42.1111 43.9324 42.1111H49.6121C49.6121 36.0358 46.6213 31.2321 38.9786 31.2321C31.4717 31.2321 28.2189 34.8116 27.822 37.9261H16.1744ZM68.21 73.452V22.7206H86.3167L96.2277 59.5743L105.79 22.7206H124.238V73.452H112.556V34.8017L101.69 73.452H90.5994L79.8256 34.8797V73.452H68.21ZM178.876 54.3264H167.163C165.635 59.283 160.958 64.24 154.565 64.24C147.571 64.24 141.021 57.596 141.021 47.9817C141.021 39.9767 146.524 31.937 154.595 31.937C161.759 31.937 165.882 37.6325 167.224 41.8505H178.723C176.804 30.8883 167.643 21.4133 154.595 21.4133C139.741 21.4133 129.796 32.4725 129.796 48.2257C129.796 59.849 137.394 74.8246 154.687 74.8246C168.412 74.8246 177.14 63.9657 178.876 54.3264Z"
                fill="#2D9C21" />
        </g>
        <defs>
            <clipPath id="clip0">
                <rect width="192" height="96" fill="white" />
            </clipPath>
        </defs>
    </svg>
    <p>Created and produced by Vince Gilligan, Breaking Bad is a neo-Western Crime Drama following the story of
        Walter White, a regular high-school science teacher on his road to kingpinship.</p>
</footer>