<div class="card__outer">
    <div class="card__shadow left"></div>
    <div class="card__shadow bottom"></div>
    <div class="card">
        <p class="card__item card__id">{{ id }}</p>
        <div class="card-item card__inner">
            <p class="card__abbr">{{ abbr }}</p>
            <p class="card__firstName">{{ firstName}}</p>
            <p class="card__name"><span>{{ lastName }}</span></p>
        </div>
        <div class="card__item card__corner"></div>
    </div>
</div>